*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 50px;
    background-image: url(img/bg4.jpg);
    color: #fff;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.7) 0 0 0 10000px inset; 
}
 
h1{
    text-align: center;
    margin-bottom: 100px;
    font-weight: 100;    
}

h2{
    margin-bottom: 15px;
}

.logo{
    display: flex;
    justify-content:center;
    text-align: center;
    align-items:end;
    margin-bottom: 50px;   
}

.logo span{
    color: orangered;
    font-weight: 700; 
    margin-left: 15px;
    font-family: 'Great Vibes';font-size: 50px; 
 }

.main-wrapper{
    max-width: 650px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 50px; 
}

button{
    cursor: pointer;
}

form div{
    padding: 15px 0; /* levo/desno gore/dole */
}

form div label{
    display: block;
    font-weight: bold;
    font-size: 16px;
}

form div input{
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding: 0 10px;
}

form div button{
    cursor: pointer;
    padding: 10px 30px;
    font-size: 18px;
    background-color: gray;
    color: black;
    border: 0;
}

form ul{
    list-style: none;
}

form ul li{
    color: red;
}

.no-acc-register{
    text-align: center;
    margin-top: 50px;
}

.no-acc-register button{
    padding: 10px 30px;
    font-size: 18px;
    background-color: orangered;
    color: white;
    border: 0;
}

.no-acc-register button:hover{
    background-color: orange;
}

.no-acc-register p{
    font-size: 22px;
    margin-bottom: 15px;
}

.custom-modal{
    display: none;
    background-color: black;
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 1000px 1000px;
    max-width: 650px;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

.custom-modal button#closeModal{
    height: 20px;
    width: 20px;
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 30px;
}

.inner-container{
    padding: 15px;
}

.inner-container.left-side{
    text-align: center;
}

.inner-container.right-side{
    border: 1px solid orangered;
}

.inner-container .profile{
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 5px solid white;
    margin-bottom: 20px;
}

#logOut{
    color: white;
    background-color: orangered;
    padding: 10px 30px;
    border: 0;
}

#editAccount{
    color: black;
    background-color: gray;
    padding: 10px 30px;
    border: 0;
}

.inner-container.right-side form{
    display: flex;
    height: 100px;
}

.inner-container.right-side form textarea{
    width: 85%;
    border: 0;
    padding: 10px;
    resize: none;
    outline-color: orangered;
}

.inner-container.right-side form button{
    width: 15%;
    border: 0;
}

#deleteProfile {
    border: 2px solid red;
    color: white;
    background-color: red;
    padding: 10px 30px;
}

#allPostsWrapper .single-post{
    background-color: #eaeaea;
    padding: 15px;
    margin-top: 15px;
    color: #000;
}

#allPostsWrapper .single-post .post-content{
    padding-bottom: 10px; 
    margin-bottom: 10px;
    font-size: 22px;
    border-bottom: 1px solid black; 
}

#allPostsWrapper .single-post .post-actions{
    display: flex;
    justify-content: space-between;
    color: grey;
}

#allPostsWrapper .single-post .post-actions div button.like-btn{
    background-image: url(img/like.png);
    padding: 5px 15px 5px 40px;
    background-repeat: no-repeat;
    background-position: 10px;
    border: 0;
    
}

#allPostsWrapper .single-post .post-actions div button.remove-btn{
    border-color: red;
    color: red;
    padding: 5px 15px;
}

